<section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Info</h4>
        <ul class="links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Compressions</a></li>
          <li><a href="#">Customers</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Movie Collections</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4>Explore</h4>
        <ul class="links">
          <li><a href="#">Cinema Movies</a></li>
          <li><a href="#">Latest Released</a></li>
          <li><a href="#">Top #100</a></li>
          <li><a href="#">Most Downloaded</a></li>
          <li><a href="#">Most Viewed</a></li>
          <li><a href="#">New Uploads</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4>Genres</h4>
        <ul class="links">
          <li><a href="#">Action</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Drama</a></li>
          <li><a href="#">Fantasy</a></li>
          <li><a href="#">Horror</a></li>
          <li><a href="#">Romance</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4>Newsletter</h4>
        <p>
          Subscribe to our newsletter for a weekly dose
          of movies, updates, thrillers, tips and
          exclusive offers!
        </p>
        <form action="#">
          <input type="text" placeholder="Your email" required>
          <button type="submit">SUBSCRIBE</button> 
        </form>
        <div class="icons">
          <h6>Copyright &copy; GIDLIFY Cinema</h6>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
  </section>