<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<header>
  <nav>
    <div class="header-mother-div">
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/my-dashboard"> My Dashboard</a></li>
        </ul>
      </div>

      <div class="auth-links">
            <input type="text" id="search-query" placeholder="Search..." />
            <button class="search-btn" type="submit">Search</button>
            <a href="/movies/create-movies">Create Movies</a>
            <a href="/logout">Logout</a>
      </div>
    </div>
  </nav>
</header>
