<!DOCTYPE html>
<html lang="en">
    <title>About Us</title>
    <%- include("./partials/header.ejs") %>
<body>

<main>
      <section class="hero">
        <h1>Welcome to Gidlify Cinema!</h1>
        <h2>About Us</h2> 
        <br>
        <br>
        <p style="color: black;">
            <strong>
            At Gidlify Cinema,<br>
            We are passionate about bringing the magic of the big screen to life. <br>
            With a deep love for movies and a commitment to delivering exceptional cinematic experiences, <br>
            We've created a haven for film enthusiasts of all ages. <br>
            Our state-of-the-art theaters, comfortable seating, and <br>
            Top-notch audio-visual technology ensure that every visit to Gidlify Cinema is a memorable one. <br>
            Join us as we celebrate the art of storytelling through film, and embark on a cinematic journey like no other.
            </strong>
        </p>
      </section>
    
</main>
    <footer>
        <%-include('./partials/footer.ejs') %>
    </footer>
</body>
</html>