<!DOCTYPE html>
<html lang="en" >

<title>Login Page</title>
  <%- include('./partials/header.ejs') %>
<body>

<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>
          <!-- <li ><a href="#signup"  role="tab" data-toggle="tab">Sign up</a></li> -->
        </ul>
        <div class="tab-content">

          <div class="tab-pane fade active in" id="login">
            <h2 class="text-uppercase text-center"> </h2>
            <form id="login" method="post" action="/users/login">
              <div class="form-group">

                <% if (locals.error){ %>
                  <% if (error === 'Invalid email/password'){ %>
                      <div class="name error" style="
                        color: #ff0099;
                        margin: 10px 2px;
                        font-size: 0.8em;
                        font-weight: bold;
                        ">
                        Invalid email/password
                      </div>
                  <% } %>
                <% } %>
                <label> Your Email or Username<span class="req">*</span> </label>
                <input name="email" type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Password<span class="req">*</span> </label>
                <input name="password" type="password" class="form-control" name="password" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="mrgn-30-top">
                <button type="submit" class="btn btn-larger btn-block" />
                Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>


<!--######################################### FOOTER ################################################### -->
<%-include('./partials/footer.ejs') %>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<!-- partial -->
  <script  src="/javascript/script.js"></script>

</body>
</html>
